<style>
    #footer {
        height: 5px;
    }
</style>

<footer id = "footer" class="footer footer-background-color">
        <div class="content has-text-centered ">
            <p>
            <b>Trip Diary</b> 
            is powered by Ruby on Rails, PostgreSql
            Heroku, Bulma.css & Github.
            </p>
        </div>
        <div class="content has-text-centered ">
            

            <a class="github-button" href="https://github.com/TAM360" data-size="large" aria-label="Follow @TAM360 on GitHub">Follow @TAM360</a>
        </div>
       </footer>   